<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clair de Lune</title>
    <link rel="website icon" type="png" href="../../img/logo.png" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/rizmyabdulla/fontawesome-pro@main/releases/v7.2.0/css/fontawesome.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/rizmyabdulla/fontawesome-pro@main/releases/v7.2.0/css/regular.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/rizmyabdulla/fontawesome-pro@main/releases/v7.2.0/css/brands.css"
    />
  </head>
  <body>
    <header></header>

    <main>
      <section>
        <div class="categories">
          <button id="todos">Todo</button>
          <button id="entrantes">Entrantes</button>
          <button id="primeros">Primeros</button>
          <button id="segundos">Segundos</button>
          <button id="postres">Postres</button>
        </div>
        <div class="filters">
          <button>Vegetariano</button>
          <button>Vegano</button>
          <button>Sin gluten</button>
          <button>Marisco</button>
        </div>
      </section>
      <section class="menu">
        <article class="entrantes">
          <section>
            <h1>Entrantes</h1>
            <div class="gold-line"></div>
          </section>
          <div>
            <div class="plato">
              <p>Foi mi-cuit</p>
              <div class="stars">★★★★★</div>
            </div>
            <p>24€</p>
          </div>
          <div class="sin-gluten">
            <div class="plato">
              <p>Vieira con cítricos</p>
              <p class="stars">★★★★★</p>
              <div class="tags">
                <p id="sin-gluten">Sin gluten</p>
              </div>
            </div>
            <p>34€</p>
          </div>
          <div class="vegano sin-gluten">
            <div class="plato">
              <p>Sopa de trufa</p>
              <p class="stars">★★★★★</p>
              <div class="tags">
                <p id="vegano">Vegano</p>
                <p id="sin-gluten">Sin gluten</p>
              </div>
            </div>
            <p>28€</p>
          </div>
        </article>
        <article class="primeros">
          <section>
            <h1>Primeros</h1>
            <div class="gold-line"></div>
          </section>
        </article>
        <article class="segundos">
          <section>
            <h1>Segundos</h1>
            <div class="gold-line"></div>
          </section>
        </article>
        <article class="postres">
          <section>
            <h1>Postres</h1>
            <div class="gold-line"></div>
          </section>
        </article>
      </section>
    </main>
    <footer>
      <p>Clair de Lune</p>
      <p>&copy; 2026 Claire de Lune</p>
      <span>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
      </span>
    </footer>

    <script src="../js/global.js"></script>
    <script src="../js/menu.js"></script>
  </body>
</html>
