<div>
  <h1>Clair de Lune</h1>
  <img id="logo" src="../../img/logo.png" alt="logo" />
  <div>
    <i class="fa-slab fa-regular fa-bars fa-2xl btn btn-menu"></i>
    <i class="fa-slab fa-regular fa-xmark fa-2xl btn btn-close"></i>
  </div>
</div>
<nav>
  <span class="navegacio">
    <h3>Navegación</h3>
    <div class="nav-item">
      <i class="fa-regular fa-house"></i>
      <p id="index">Home</p>
    </div>
    <div class="nav-item">
      <i class="fa-regular fa-calendar-circle-user"></i>
      <p id="reservations">Reservations</p>
    </div>
    <div class="nav-item">
      <i class="fa-sharp fa-regular fa-heart"></i>
      <p id="menu">Menu</p>
    </div>
    <div class="nav-item">
      <i class="fa-regular fa-globe"></i>
      <p id="about-us">About Us</p>
    </div>
  </span>
</nav>
<div class="registre">
  <button>Entrar</button>
  <button>Registrarse</button>
</div>
